In [2]:
import pandas as pd

In [3]:
df_agosto = pd.read_csv("082019.csv", sep=";")

In [4]:
df_agosto.head()

,AGNO,MES_ESCOLAR,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,...,COD_GRADO,LET_CUR,MRUN,GEN_ALU,FEC_NAC_ALU,COD_COM_ALU,NOM_COM_ALU,DIAS_ASISTIDOS,DIAS_TRABAJADOS,ASIS_PROMEDIO
0,2019,8,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,2655917,1,199509,15101,ARICA,16,20,",8"
1,2019,8,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,3738782,2,196403,15101,ARICA,0,20,0
2,2019,8,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,8598804,1,197712,15101,ARICA,20,20,1
3,2019,8,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,9591749,2,197611,15101,ARICA,0,20,0
4,2019,8,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,11883473,2,200104,1107,ALTO HOSPICIO,0,20,0

In [5]:
df_junio = pd.read_csv("062019.csv", sep=";")

In [6]:
df_junio.head()

,AGNO,MES_ESCOLAR,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,...,COD_GRADO,LET_CUR,MRUN,GEN_ALU,FEC_NAC_ALU,COD_COM_ALU,NOM_COM_ALU,DIAS_ASISTIDOS,DIAS_TRABAJADOS,ASIS_PROMEDIO
0,2019,6,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,2655917,1,199509,15101,ARICA,13,19,",6842"
1,2019,6,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,3738782,2,196403,15101,ARICA,0,19,0
2,2019,6,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,8598804,1,197712,15101,ARICA,17,19,",8947"
3,2019,6,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,9591749,2,197611,15101,ARICA,0,19,0
4,2019,6,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,11883473,2,200104,1107,ALTO HOSPICIO,0,19,0

In [7]:
df_junio.columns

Index(['AGNO', 'MES_ESCOLAR', 'RBD', 'DGV_RBD', 'NOM_RBD', 'COD_REG_RBD',
       'NOM_REG_RBD_A', 'COD_PRO_RBD', 'COD_COM_RBD', 'NOM_COM_RBD',
       'COD_DEPROV_RBD', 'NOM_DEPROV_RBD', 'RURAL_RBD', 'COD_DEPE',
       'COD_DEPE2', 'COD_ENSE', 'COD_ENSE2', 'COD_GRADO', 'LET_CUR', 'MRUN',
       'GEN_ALU', 'FEC_NAC_ALU', 'COD_COM_ALU', 'NOM_COM_ALU',
       'DIAS_ASISTIDOS', 'DIAS_TRABAJADOS', 'ASIS_PROMEDIO'],
      dtype='object')

In [8]:
df_invierno = pd.concat([df_junio, df_agosto], axis=0, ignore_index = True)

In [9]:
df_invierno.head()

,AGNO,MES_ESCOLAR,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,...,COD_GRADO,LET_CUR,MRUN,GEN_ALU,FEC_NAC_ALU,COD_COM_ALU,NOM_COM_ALU,DIAS_ASISTIDOS,DIAS_TRABAJADOS,ASIS_PROMEDIO
0,2019,6,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,2655917,1,199509,15101,ARICA,13,19,",6842"
1,2019,6,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,3738782,2,196403,15101,ARICA,0,19,0
2,2019,6,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,8598804,1,197712,15101,ARICA,17,19,",8947"
3,2019,6,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,9591749,2,197611,15101,ARICA,0,19,0
4,2019,6,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,11883473,2,200104,1107,ALTO HOSPICIO,0,19,0

In [10]:
df_invierno.tail()

,AGNO,MES_ESCOLAR,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,...,COD_GRADO,LET_CUR,MRUN,GEN_ALU,FEC_NAC_ALU,COD_COM_ALU,NOM_COM_ALU,DIAS_ASISTIDOS,DIAS_TRABAJADOS,ASIS_PROMEDIO
7067433,2019,8,41280,5,ESCUELA ESPECIAL DIFERENCIAL E INSTITUTO DE ES...,8,BBIO,83,8301,LOS ÁNGELES,...,24,H,16840067,1,201406,8301,LOS ÁNGELES,21,21,1
7067434,2019,8,41280,5,ESCUELA ESPECIAL DIFERENCIAL E INSTITUTO DE ES...,8,BBIO,83,8301,LOS ÁNGELES,...,24,H,17843448,1,201408,8301,LOS ÁNGELES,21,21,1
7067435,2019,8,41280,5,ESCUELA ESPECIAL DIFERENCIAL E INSTITUTO DE ES...,8,BBIO,83,8301,LOS ÁNGELES,...,24,H,18900880,2,201409,8301,LOS ÁNGELES,21,21,1
7067436,2019,8,41280,5,ESCUELA ESPECIAL DIFERENCIAL E INSTITUTO DE ES...,8,BBIO,83,8301,LOS ÁNGELES,...,24,H,20780854,1,201502,8301,LOS ÁNGELES,21,21,1
7067437,2019,8,41280,5,ESCUELA ESPECIAL DIFERENCIAL E INSTITUTO DE ES...,8,BBIO,83,8301,LOS ÁNGELES,...,24,H,21384132,1,201408,8301,LOS ÁNGELES,21,21,1

In [11]:
df_invierno.columns

Index(['AGNO', 'MES_ESCOLAR', 'RBD', 'DGV_RBD', 'NOM_RBD', 'COD_REG_RBD',
       'NOM_REG_RBD_A', 'COD_PRO_RBD', 'COD_COM_RBD', 'NOM_COM_RBD',
       'COD_DEPROV_RBD', 'NOM_DEPROV_RBD', 'RURAL_RBD', 'COD_DEPE',
       'COD_DEPE2', 'COD_ENSE', 'COD_ENSE2', 'COD_GRADO', 'LET_CUR', 'MRUN',
       'GEN_ALU', 'FEC_NAC_ALU', 'COD_COM_ALU', 'NOM_COM_ALU',
       'DIAS_ASISTIDOS', 'DIAS_TRABAJADOS', 'ASIS_PROMEDIO'],
      dtype='object')

In [ ]:
#cambiamos el nombre de la columna año para tener mayor claridad
df_invierno.rename(columns= {'AGNO': 'año'}, inplace=True)
df_invierno.columns

Index(['año', 'MES_ESCOLAR', 'RBD', 'DGV_RBD', 'NOM_RBD', 'COD_REG_RBD',
       'NOM_REG_RBD_A', 'COD_PRO_RBD', 'COD_COM_RBD', 'NOM_COM_RBD',
       'COD_DEPROV_RBD', 'NOM_DEPROV_RBD', 'RURAL_RBD', 'COD_DEPE',
       'COD_DEPE2', 'COD_ENSE', 'COD_ENSE2', 'COD_GRADO', 'LET_CUR', 'MRUN',
       'GEN_ALU', 'FEC_NAC_ALU', 'COD_COM_ALU', 'NOM_COM_ALU',
       'DIAS_ASISTIDOS', 'DIAS_TRABAJADOS', 'ASIS_PROMEDIO'],
      dtype='object')

In [ ]:
#cambiamos el formato de los nombres de las columnas para hacer mas sencillo la referencia. 
df_invierno.columns = df_invierno.columns.str.lower().str.replace(" ", "_")
df_invierno.columns

Index(['año', 'mes_escolar', 'rbd', 'dgv_rbd', 'nom_rbd', 'cod_reg_rbd',
       'nom_reg_rbd_a', 'cod_pro_rbd', 'cod_com_rbd', 'nom_com_rbd',
       'cod_deprov_rbd', 'nom_deprov_rbd', 'rural_rbd', 'cod_depe',
       'cod_depe2', 'cod_ense', 'cod_ense2', 'cod_grado', 'let_cur', 'mrun',
       'gen_alu', 'fec_nac_alu', 'cod_com_alu', 'nom_com_alu',
       'dias_asistidos', 'dias_trabajados', 'asis_promedio'],
      dtype='object')

In [18]:
df_invierno.head()

,año,mes_escolar,rbd,dgv_rbd,nom_rbd,cod_reg_rbd,nom_reg_rbd_a,cod_pro_rbd,cod_com_rbd,nom_com_rbd,cod_deprov_rbd,nom_deprov_rbd,rural_rbd,cod_depe,cod_depe2,cod_ense,cod_ense2,cod_grado,let_cur,mrun,gen_alu,fec_nac_alu,cod_com_alu,nom_com_alu,dias_asistidos,dias_trabajados,asis_promedio
0,2019,6,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,ARICA,0,2,1,463,8,3,A,2655917,1,199509,15101,ARICA,13,19,",6842"
1,2019,6,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,ARICA,0,2,1,463,8,3,A,3738782,2,196403,15101,ARICA,0,19,0
2,2019,6,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,ARICA,0,2,1,463,8,3,A,8598804,1,197712,15101,ARICA,17,19,",8947"
3,2019,6,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,ARICA,0,2,1,463,8,3,A,9591749,2,197611,15101,ARICA,0,19,0
4,2019,6,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,ARICA,0,2,1,463,8,3,A,11883473,2,200104,1107,ALTO HOSPICIO,0,19,0

In [17]:
pd.set_option('display.max_columns', None)

In [ ]:
#funcion para eliminar columnas que no usaremos
def drop_columns (df, columns):
    df.drop(columns, axis=1, inplace=True)

In [22]:
columns_drop = ["rbd", "dgv_rbd", "cod_pro_rbd", "nom_reg_rbd_a", "cod_pro_rbd", "cod_com_rbd", "cod_deprov_rbd", "cod_depe", "cod_depe2", "cod_ense", "cod_ense2", "let_cur", "mrun", "cod_com_alu"]

drop_columns(df_invierno, columns_drop)

In [23]:
df_invierno.head()

,año,mes_escolar,nom_rbd,cod_reg_rbd,nom_com_rbd,nom_deprov_rbd,rural_rbd,cod_grado,gen_alu,fec_nac_alu,nom_com_alu,dias_asistidos,dias_trabajados,asis_promedio
0,2019,6,LICEO POLITECNICO ARICA,15,ARICA,ARICA,0,3,1,199509,ARICA,13,19,",6842"
1,2019,6,LICEO POLITECNICO ARICA,15,ARICA,ARICA,0,3,2,196403,ARICA,0,19,0
2,2019,6,LICEO POLITECNICO ARICA,15,ARICA,ARICA,0,3,1,197712,ARICA,17,19,",8947"
3,2019,6,LICEO POLITECNICO ARICA,15,ARICA,ARICA,0,3,2,197611,ARICA,0,19,0
4,2019,6,LICEO POLITECNICO ARICA,15,ARICA,ARICA,0,3,2,200104,ALTO HOSPICIO,0,19,0

In [24]:
import pickle

In [26]:
df_invierno.to_pickle("df_invierno.pkl")