In [1]:
import pandas as pd

In [2]:
df_agosto = pd.read_csv("082019.csv", sep=";")

In [3]:
df_agosto.head()

,AGNO,MES_ESCOLAR,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,...,COD_GRADO,LET_CUR,MRUN,GEN_ALU,FEC_NAC_ALU,COD_COM_ALU,NOM_COM_ALU,DIAS_ASISTIDOS,DIAS_TRABAJADOS,ASIS_PROMEDIO
0,2019,8,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,2655917,1,199509,15101,ARICA,16,20,",8"
1,2019,8,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,3738782,2,196403,15101,ARICA,0,20,0
2,2019,8,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,8598804,1,197712,15101,ARICA,20,20,1
3,2019,8,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,9591749,2,197611,15101,ARICA,0,20,0
4,2019,8,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,11883473,2,200104,1107,ALTO HOSPICIO,0,20,0

In [4]:
df_junio = pd.read_csv("062019.csv", sep=";")

In [5]:
df_junio.head()

,AGNO,MES_ESCOLAR,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,...,COD_GRADO,LET_CUR,MRUN,GEN_ALU,FEC_NAC_ALU,COD_COM_ALU,NOM_COM_ALU,DIAS_ASISTIDOS,DIAS_TRABAJADOS,ASIS_PROMEDIO
0,2019,6,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,2655917,1,199509,15101,ARICA,13,19,",6842"
1,2019,6,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,3738782,2,196403,15101,ARICA,0,19,0
2,2019,6,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,8598804,1,197712,15101,ARICA,17,19,",8947"
3,2019,6,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,9591749,2,197611,15101,ARICA,0,19,0
4,2019,6,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,11883473,2,200104,1107,ALTO HOSPICIO,0,19,0

In [6]:
df_junio.columns

Index(['AGNO', 'MES_ESCOLAR', 'RBD', 'DGV_RBD', 'NOM_RBD', 'COD_REG_RBD',
       'NOM_REG_RBD_A', 'COD_PRO_RBD', 'COD_COM_RBD', 'NOM_COM_RBD',
       'COD_DEPROV_RBD', 'NOM_DEPROV_RBD', 'RURAL_RBD', 'COD_DEPE',
       'COD_DEPE2', 'COD_ENSE', 'COD_ENSE2', 'COD_GRADO', 'LET_CUR', 'MRUN',
       'GEN_ALU', 'FEC_NAC_ALU', 'COD_COM_ALU', 'NOM_COM_ALU',
       'DIAS_ASISTIDOS', 'DIAS_TRABAJADOS', 'ASIS_PROMEDIO'],
      dtype='object')

In [7]:
df_invierno = pd.concat([df_junio, df_agosto], axis=0, ignore_index = True)

In [8]:
df_invierno.head()

,AGNO,MES_ESCOLAR,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,...,COD_GRADO,LET_CUR,MRUN,GEN_ALU,FEC_NAC_ALU,COD_COM_ALU,NOM_COM_ALU,DIAS_ASISTIDOS,DIAS_TRABAJADOS,ASIS_PROMEDIO
0,2019,6,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,2655917,1,199509,15101,ARICA,13,19,",6842"
1,2019,6,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,3738782,2,196403,15101,ARICA,0,19,0
2,2019,6,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,8598804,1,197712,15101,ARICA,17,19,",8947"
3,2019,6,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,9591749,2,197611,15101,ARICA,0,19,0
4,2019,6,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,11883473,2,200104,1107,ALTO HOSPICIO,0,19,0

In [9]:
df_invierno.tail()

,AGNO,MES_ESCOLAR,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,...,COD_GRADO,LET_CUR,MRUN,GEN_ALU,FEC_NAC_ALU,COD_COM_ALU,NOM_COM_ALU,DIAS_ASISTIDOS,DIAS_TRABAJADOS,ASIS_PROMEDIO
7067433,2019,8,41280,5,ESCUELA ESPECIAL DIFERENCIAL E INSTITUTO DE ES...,8,BBIO,83,8301,LOS ÁNGELES,...,24,H,16840067,1,201406,8301,LOS ÁNGELES,21,21,1
7067434,2019,8,41280,5,ESCUELA ESPECIAL DIFERENCIAL E INSTITUTO DE ES...,8,BBIO,83,8301,LOS ÁNGELES,...,24,H,17843448,1,201408,8301,LOS ÁNGELES,21,21,1
7067435,2019,8,41280,5,ESCUELA ESPECIAL DIFERENCIAL E INSTITUTO DE ES...,8,BBIO,83,8301,LOS ÁNGELES,...,24,H,18900880,2,201409,8301,LOS ÁNGELES,21,21,1
7067436,2019,8,41280,5,ESCUELA ESPECIAL DIFERENCIAL E INSTITUTO DE ES...,8,BBIO,83,8301,LOS ÁNGELES,...,24,H,20780854,1,201502,8301,LOS ÁNGELES,21,21,1
7067437,2019,8,41280,5,ESCUELA ESPECIAL DIFERENCIAL E INSTITUTO DE ES...,8,BBIO,83,8301,LOS ÁNGELES,...,24,H,21384132,1,201408,8301,LOS ÁNGELES,21,21,1

In [10]:
df_invierno.columns

Index(['AGNO', 'MES_ESCOLAR', 'RBD', 'DGV_RBD', 'NOM_RBD', 'COD_REG_RBD',
       'NOM_REG_RBD_A', 'COD_PRO_RBD', 'COD_COM_RBD', 'NOM_COM_RBD',
       'COD_DEPROV_RBD', 'NOM_DEPROV_RBD', 'RURAL_RBD', 'COD_DEPE',
       'COD_DEPE2', 'COD_ENSE', 'COD_ENSE2', 'COD_GRADO', 'LET_CUR', 'MRUN',
       'GEN_ALU', 'FEC_NAC_ALU', 'COD_COM_ALU', 'NOM_COM_ALU',
       'DIAS_ASISTIDOS', 'DIAS_TRABAJADOS', 'ASIS_PROMEDIO'],
      dtype='object')

In [11]:
#cambiamos el nombre de la columna año para tener mayor claridad
df_invierno.rename(columns= {'AGNO': 'año'}, inplace=True)
df_invierno.columns

Index(['año', 'MES_ESCOLAR', 'RBD', 'DGV_RBD', 'NOM_RBD', 'COD_REG_RBD',
       'NOM_REG_RBD_A', 'COD_PRO_RBD', 'COD_COM_RBD', 'NOM_COM_RBD',
       'COD_DEPROV_RBD', 'NOM_DEPROV_RBD', 'RURAL_RBD', 'COD_DEPE',
       'COD_DEPE2', 'COD_ENSE', 'COD_ENSE2', 'COD_GRADO', 'LET_CUR', 'MRUN',
       'GEN_ALU', 'FEC_NAC_ALU', 'COD_COM_ALU', 'NOM_COM_ALU',
       'DIAS_ASISTIDOS', 'DIAS_TRABAJADOS', 'ASIS_PROMEDIO'],
      dtype='object')

In [12]:
#cambiamos el formato de los nombres de las columnas para hacer mas sencillo la referencia. 
df_invierno.columns = df_invierno.columns.str.lower().str.replace(" ", "_")
df_invierno.columns

Index(['año', 'mes_escolar', 'rbd', 'dgv_rbd', 'nom_rbd', 'cod_reg_rbd',
       'nom_reg_rbd_a', 'cod_pro_rbd', 'cod_com_rbd', 'nom_com_rbd',
       'cod_deprov_rbd', 'nom_deprov_rbd', 'rural_rbd', 'cod_depe',
       'cod_depe2', 'cod_ense', 'cod_ense2', 'cod_grado', 'let_cur', 'mrun',
       'gen_alu', 'fec_nac_alu', 'cod_com_alu', 'nom_com_alu',
       'dias_asistidos', 'dias_trabajados', 'asis_promedio'],
      dtype='object')

In [13]:
df_invierno.head()

,año,mes_escolar,rbd,dgv_rbd,nom_rbd,cod_reg_rbd,nom_reg_rbd_a,cod_pro_rbd,cod_com_rbd,nom_com_rbd,...,cod_grado,let_cur,mrun,gen_alu,fec_nac_alu,cod_com_alu,nom_com_alu,dias_asistidos,dias_trabajados,asis_promedio
0,2019,6,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,2655917,1,199509,15101,ARICA,13,19,",6842"
1,2019,6,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,3738782,2,196403,15101,ARICA,0,19,0
2,2019,6,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,8598804,1,197712,15101,ARICA,17,19,",8947"
3,2019,6,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,9591749,2,197611,15101,ARICA,0,19,0
4,2019,6,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,11883473,2,200104,1107,ALTO HOSPICIO,0,19,0

In [14]:
pd.set_option('display.max_columns', None)

### FILTRAMOS COLUMNAS

In [15]:
#funcion para eliminar columnas que no usaremos
def drop_columns (df, columns):
    df.drop(columns, axis=1, inplace=True)

In [16]:
columns_drop = ["rbd", "dgv_rbd", "cod_pro_rbd", "nom_reg_rbd_a", "cod_pro_rbd", "cod_com_rbd", "cod_deprov_rbd", "cod_depe", "cod_depe2", "cod_ense", "cod_ense2", "let_cur", "mrun", "cod_com_alu"]

drop_columns(df_invierno, columns_drop)

In [31]:
columns_drop = ["cod_reg_rbd", "cod_grado", "fec_nac_alu", "nom_com_alu"]

drop_columns(df_invierno, columns_drop)

In [33]:
columns_drop = ["asis_promedio"]

drop_columns(df_invierno, columns_drop)

In [34]:
df_invierno.head()

,año,mes_escolar,nom_rbd,nom_com_rbd,nom_deprov_rbd,rural_rbd,gen_alu,dias_asistidos,dias_trabajados
0,2019,6,LICEO POLITECNICO ARICA,ARICA,ARICA,0,1,13,19
1,2019,6,LICEO POLITECNICO ARICA,ARICA,ARICA,0,2,0,19
2,2019,6,LICEO POLITECNICO ARICA,ARICA,ARICA,0,1,17,19
3,2019,6,LICEO POLITECNICO ARICA,ARICA,ARICA,0,2,0,19
4,2019,6,LICEO POLITECNICO ARICA,ARICA,ARICA,0,2,0,19

### FILTRAMOS POR PROVINCIAS

In [40]:
df_invierno["nom_deprov_rbd"].value_counts()

nom_deprov_rbd
SANTIAGO PONIENTE          542053
CORDILLERA                 470830
SANTIAGO SUR               456135
CONCEPCIÓN                 385199
VALPARAÍSO                 384095
SANTIAGO NORTE             380807
SANTIAGO CENTRO            281998
CACHAPOAL                  274839
SANTIAGO ORIENTE           248694
ELQUI                      223432
TALAGANTE                  220644
CAUTÍN NORTE               218465
ÑUBLE                      203810
ANTOFAGASTA - TOCOPILLA    179248
BIOBÍO                     178554
LLANQUIHUE                 177800
TALCA                      171251
IQUIQUE                    165154
QUILLOTA                   143962
LINARES                    127744
VALDIVIA                   122858
CURICÓ                     121584
CAUTÍN SUR                 116640
LOS ANDES                  113289
ARICA                      109696
OSORNO                     101880
COPIAPÓ                    100029
COLCHAGUA                   98047
MALLECO                     89762
CHILOÉ                      80743
ARAUCO                      78945
EL LOA                      77789
LIMARÍ                      75112
SAN ANTONIO                 73922
MAGALLANES                  60301
COYHAIQUE                   52216
RANCO                       42521
CHOAPA                      39693
HUASCO                      34320
CAUQUENES                   24501
CARDENAL CARO               15626
PALENA                       3250
Name: count, dtype: int64

In [45]:
def clean_column(df, column_name):
    df_clean = df.copy()
    df_clean = df_clean[df_clean[column_name].isin(["ANTOFAGASTA - TOCOPILLA", "MAGALLANES"])]
    print(f"Valores únicos en '{column_name}':", 
          df_clean[column_name].unique())
    return df_clean

In [ ]:
df_prov = clean_column(df_invierno, "nom_deprov_rbd")

Valores únicos en 'nom_deprov_rbd': ['ANTOFAGASTA - TOCOPILLA' 'MAGALLANES']

In [47]:
df_prov.head()

,año,mes_escolar,nom_rbd,nom_com_rbd,nom_deprov_rbd,rural_rbd,gen_alu,dias_asistidos,dias_trabajados
49202,2019,6,LICEO DOMINGO LATRILLE LASTAUNOU,TOCOPILLA,ANTOFAGASTA - TOCOPILLA,0,2,0,0
49203,2019,6,LICEO DOMINGO LATRILLE LASTAUNOU,TOCOPILLA,ANTOFAGASTA - TOCOPILLA,0,2,0,0
49204,2019,6,LICEO DOMINGO LATRILLE LASTAUNOU,TOCOPILLA,ANTOFAGASTA - TOCOPILLA,0,2,0,0
49205,2019,6,LICEO DOMINGO LATRILLE LASTAUNOU,TOCOPILLA,ANTOFAGASTA - TOCOPILLA,0,2,0,0
49206,2019,6,LICEO DOMINGO LATRILLE LASTAUNOU,TOCOPILLA,ANTOFAGASTA - TOCOPILLA,0,2,0,0

In [48]:
df_prov["nom_deprov_rbd"].value_counts()

nom_deprov_rbd
ANTOFAGASTA - TOCOPILLA    179248
MAGALLANES                  60301
Name: count, dtype: int64

In [49]:
df_prov.to_csv('asistencia.csv', index=False)