In [1]:
import pandas as pd

In [2]:
df_agosto = pd.read_csv("082019.csv", sep=";")

In [3]:
df_agosto.head()

,AGNO,MES_ESCOLAR,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,...,COD_GRADO,LET_CUR,MRUN,GEN_ALU,FEC_NAC_ALU,COD_COM_ALU,NOM_COM_ALU,DIAS_ASISTIDOS,DIAS_TRABAJADOS,ASIS_PROMEDIO
0,2019,8,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,2655917,1,199509,15101,ARICA,16,20,",8"
1,2019,8,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,3738782,2,196403,15101,ARICA,0,20,0
2,2019,8,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,8598804,1,197712,15101,ARICA,20,20,1
3,2019,8,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,9591749,2,197611,15101,ARICA,0,20,0
4,2019,8,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,11883473,2,200104,1107,ALTO HOSPICIO,0,20,0

In [5]:
df_junio = pd.read_csv("062019.csv", sep=";")

In [6]:
df_junio.head()

,AGNO,MES_ESCOLAR,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,...,COD_GRADO,LET_CUR,MRUN,GEN_ALU,FEC_NAC_ALU,COD_COM_ALU,NOM_COM_ALU,DIAS_ASISTIDOS,DIAS_TRABAJADOS,ASIS_PROMEDIO
0,2019,6,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,2655917,1,199509,15101,ARICA,13,19,",6842"
1,2019,6,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,3738782,2,196403,15101,ARICA,0,19,0
2,2019,6,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,8598804,1,197712,15101,ARICA,17,19,",8947"
3,2019,6,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,9591749,2,197611,15101,ARICA,0,19,0
4,2019,6,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,11883473,2,200104,1107,ALTO HOSPICIO,0,19,0

In [7]:
df_junio.columns

Index(['AGNO', 'MES_ESCOLAR', 'RBD', 'DGV_RBD', 'NOM_RBD', 'COD_REG_RBD',
       'NOM_REG_RBD_A', 'COD_PRO_RBD', 'COD_COM_RBD', 'NOM_COM_RBD',
       'COD_DEPROV_RBD', 'NOM_DEPROV_RBD', 'RURAL_RBD', 'COD_DEPE',
       'COD_DEPE2', 'COD_ENSE', 'COD_ENSE2', 'COD_GRADO', 'LET_CUR', 'MRUN',
       'GEN_ALU', 'FEC_NAC_ALU', 'COD_COM_ALU', 'NOM_COM_ALU',
       'DIAS_ASISTIDOS', 'DIAS_TRABAJADOS', 'ASIS_PROMEDIO'],
      dtype='object')

In [8]:
df_invierno = pd.concat([df_junio, df_agosto], axis=0, ignore_index = True)

In [9]:
df_invierno.head()

,AGNO,MES_ESCOLAR,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,...,COD_GRADO,LET_CUR,MRUN,GEN_ALU,FEC_NAC_ALU,COD_COM_ALU,NOM_COM_ALU,DIAS_ASISTIDOS,DIAS_TRABAJADOS,ASIS_PROMEDIO
0,2019,6,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,2655917,1,199509,15101,ARICA,13,19,",6842"
1,2019,6,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,3738782,2,196403,15101,ARICA,0,19,0
2,2019,6,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,8598804,1,197712,15101,ARICA,17,19,",8947"
3,2019,6,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,9591749,2,197611,15101,ARICA,0,19,0
4,2019,6,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,11883473,2,200104,1107,ALTO HOSPICIO,0,19,0

In [10]:
df_invierno.tail()

,AGNO,MES_ESCOLAR,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,...,COD_GRADO,LET_CUR,MRUN,GEN_ALU,FEC_NAC_ALU,COD_COM_ALU,NOM_COM_ALU,DIAS_ASISTIDOS,DIAS_TRABAJADOS,ASIS_PROMEDIO
7067433,2019,8,41280,5,ESCUELA ESPECIAL DIFERENCIAL E INSTITUTO DE ES...,8,BBIO,83,8301,LOS ÁNGELES,...,24,H,16840067,1,201406,8301,LOS ÁNGELES,21,21,1
7067434,2019,8,41280,5,ESCUELA ESPECIAL DIFERENCIAL E INSTITUTO DE ES...,8,BBIO,83,8301,LOS ÁNGELES,...,24,H,17843448,1,201408,8301,LOS ÁNGELES,21,21,1
7067435,2019,8,41280,5,ESCUELA ESPECIAL DIFERENCIAL E INSTITUTO DE ES...,8,BBIO,83,8301,LOS ÁNGELES,...,24,H,18900880,2,201409,8301,LOS ÁNGELES,21,21,1
7067436,2019,8,41280,5,ESCUELA ESPECIAL DIFERENCIAL E INSTITUTO DE ES...,8,BBIO,83,8301,LOS ÁNGELES,...,24,H,20780854,1,201502,8301,LOS ÁNGELES,21,21,1
7067437,2019,8,41280,5,ESCUELA ESPECIAL DIFERENCIAL E INSTITUTO DE ES...,8,BBIO,83,8301,LOS ÁNGELES,...,24,H,21384132,1,201408,8301,LOS ÁNGELES,21,21,1