In [36]:
import mysql.connector
import pandas as pd

In [37]:
import getpass  # To get the password without showing the input
password = getpass.getpass()

In [38]:
conn = mysql.connector.connect(host='localhost',
                        user='root',
                        passwd=password)

In [39]:
cursor = conn.cursor()

cursor

In [40]:
cursor.execute("CREATE DATABASE IF NOT EXISTS ED_CHILE")

In [41]:
cursor.execute("USE ED_CHILE")

In [42]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS localidad (
        rbd INT,
        nom_rbd VARCHAR(255) NOT NULL,
        nom_com_rbd VARCHAR(255) NOT NULL,
        lon DECIMAL NOT NULL,
        lat DECIMAL NOT NULL,
        zona VARCHAR(255) NOT NULL
    )
""")
print("Table localidad created successfully!")

Table localidad created successfully!

In [51]:
df_sql= pd.read_csv("localizacion.csv")

In [52]:
tupla=list(df_sql.itertuples(index=False,name=None))

In [53]:
print(len(tupla[0]))

6

In [54]:

cursor.executemany("INSERT INTO localidad (rbd , nom_rbd , nom_com_rbd, lon , lat, zona) VALUES (%s, %s, %s, %s, %s, %s)", tupla)
conn.commit()
print(f"{cursor.rowcount} items inserted!")

9178 items inserted!